//- https://stackoverflow.com/questions/39489229/pass-variable-to-html-template-in-nodemailer

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        p Here is your cancellation receipt!

        h2 Booking # #{transaction_number}
        h4 #{date}

            tbody(style={"background-color": "#3f87a6", "color":"#fff"})  



                tr
                    td(colspan="4" style={"text-align":"right"}) Total Price
                    td(style={"text-align":"right"})  $#{total_price}
                tr
                    td(colspan="4" style={"text-align":"right"}) Cancellation charge
                    td(style={"text-align":"right"})  $#{cancel_charge}
                tr
                    td(colspan="4" style={"text-align":"right"}) Rewards Applied
                    td(style={"text-align":"right"})  -$#{rewards_applied}
                tr
                    td(colspan="4" style={"text-align":"right"})
                    td
                        hr(style={"background-color":"white", "color":"white"})
                tr
                    td(colspan="4" style={"text-align":"right"}) Total Amount Refund
                    td(style={"text-align":"right"})  $#{amount_refunded}
                tr
                    td(colspan="4" style={"text-align":"right"}) Total Rewards Refund
                    td(style={"text-align":"right"})  #{reward_refunded}
