//- https://stackoverflow.com/questions/39489229/pass-variable-to-html-template-in-nodemailer

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        p Thank you for booking with us!

        h2 Booking # #{transaction_number}
        h4 #{date}

        
        table(style={"border-collapse": "collapse"})
            thead(style={"background-color": "#addff4"})
                tr(colspan="5")
                    td(colspan="5" style={"font-size": "2em", "font-weight":"bold"}) #{hotelInfo.name}
                tr(colspan="5")
                    td(colspan="3" style={"font-size": "1em"}) #{hotelInfo.address}
                    td(style={"text-align":"left", "padding-right":"5px"}) Check-in:
                    td #{requestedBooking.date_in}
                tr(colspan="5")  
                    td(colspan="3" style={"font-size": "1em"}) #{hotelInfo.city}, #{hotelInfo.state}
                    td(style={"text-align":"left", "padding-right":"5px"}) Check-out:
                    td #{requestedBooking.date_out}
            tbody(colspan="5" style={"background-color": "#e4f0f5"})
                th(colspan="2") Rooms
                th(style={"text-align":"right", "padding":"5px"}) Qty.
                th(style={"text-align":"right", "padding":"5px"}) Price
                th(style={"text-align":"right"}) Total

                each room in availableRequestedRooms
                    tr(style={"padding":"5px"})
                        td(style={width: "100px", height:"100px"})
                            img(src=room.images, alt="", style={width: '100%', height:"auto", display:"block"})
                
                        td #{room.bed_type}
            
                        td(style={"text-align":"right", "padding":"5px"}) #{room.desired_quantity}
                
                        td(style={"text-align":"right", "padding":"5px"}) $#{room.price.toFixed(2)}
                
                        td(style={"text-align":"right"}) $#{(room.price * room.desired_quantity).toFixed(2)}

            tfoot(style={"background-color": "#3f87a6", "color":"#fff"})  


                tr
                    td(colspan="4" style={"text-align":"right"}) Room Total / Night
                    td(style={"text-align":"right"}) $#{totalRoomPricePerNight.toFixed(2)}
                tr
                    td(colspan="4" style={"text-align":"right"}) # of Nights
                    td(style={"text-align":"right"}) x #{numberOfNightsStayed}
                tr
                    td(colspan="4" style={"text-align":"right"})
                    td
                        hr(style={"background-color":"white", "color":"white"})
                tr
                    td(colspan="4" style={"text-align":"right"}) Room Total
                    td(style={"text-align":"right"}) $#{ (totalRoomPricePerNight * numberOfNightsStayed).toFixed(2) }
                tr
                    td(colspan="4" style={"text-align":"right"}) Tax
                    td(style={"text-align":"right"}) $#{(requestedBooking.total_price - (totalRoomPricePerNight * numberOfNightsStayed) ).toFixed(2)}
                tr
                    td(colspan="4" style={"text-align":"right"})
                    td
                        hr(style={"background-color":"white", "color":"white"})
                tr
                    td(colspan="4" style={"text-align":"right"}) Subtotal
                    td(style={"text-align":"right"}) $#{parseFloat(requestedBooking.total_price).toFixed(2)}
                tr
                    td(colspan="4" style={"text-align":"right"}) Rewards Applied
                    td(style={"text-align":"right"}) -$#{(requestedBooking.rewards_applied/100).toFixed(2)}
                tr
                    td(colspan="4" style={"text-align":"right"})
                    td
                        hr(style={"background-color":"white", "color":"white"})
                tr
                    td(colspan="4" style={"text-align":"right"}) Total
                    td(style={"text-align":"right"}) $#{(requestedBooking.amount_due_from_user).toFixed(2)}

